* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: lower-greek;
}
.search {
  text-align: center;
}
li {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px auto;
  width: 200px;
}
.video {
  position: absolute;
  z-index: -100;
  margin-left: 25%;
}
